In [1]:
import pandas as pd

# 뉴스 파일 로드

data=pd.read_excel('C:\\Users\\LENOVO\\online_news.xlsx')

In [48]:
# 데이터 확인

print(data.columns)
data.head(3)

Index(['content', 'created_date', 'publisher', 'section', 'uid', '분기'], dtype='object')

,content,created_date,publisher,section,uid,분기
0,원익IPS는 삼성전자와 40억원 규모의 반도체 제조장비 공급계약을 체결했다고 4일 ...,2011-08-04T14:10:00.000000,머니투데이,economy,317831836816511104,2011Q3
1,태블릿PC 등 신제품 수출 확대 전망\n\n 정천기 기자 = 우리나라 수출이 올해에...,2010-12-27T11:00:00.000000,연합뉴스,economy,317564606514073600,2010Q4
2,"삼성전자가 1차 협력사는 물론 2, 3차 협력사들까지 저리로 경영자금을 빌릴 수 있...",2010-08-16T11:00:00.000000,머니투데이,economy,317420579642806272,2010Q3

In [49]:
# 오래된 날짜와 최근 날짜 확인 

print(data['created_date'].max())
print(data['created_date'].min())

2019-03-31T23:11:00.000000
2010-04-01T01:12:00.000000

In [50]:
# GDP 파일 로드

data_GDP=pd.read_excel('C:\\Users\\LENOVO\\GDP_domestic_js.xls','Sheet2')

In [51]:
# 데이터 확인

print(data_GDP.columns)
data_GDP.head(3)

Index(['분기', '국내총생산(명목GDP)', '경제성장률(실질GDP성장률)'], dtype='object')

       분기 국내총생산(명목GDP)  경제성장률(실질GDP성장률)
0  2010Q1      307,738              7.3
1  2010Q2      329,481              7.9
2  2010Q3      334,834              5.8

In [52]:
# 컬럼명 변경

data_GDP.rename(columns={'분기':'분기','국내총생산(명목GDP)':'명목GDP','경제성장률(실질GDP성장률)':'실질GDP'},inplace=True)
print(data_GDP)

        분기    명목GDP  실질GDP
0   2010Q1  307,738    7.3
1   2010Q2  329,481    7.9
2   2010Q3  334,834    5.8
3   2010Q4  350,559    6.3
4   2011Q1  328,096    5.4
5   2011Q2  343,679    3.8
6   2011Q3  349,987    3.1
7   2011Q4  367,175    2.6
8   2012Q1  344,575    2.4
9   2012Q2  358,276    2.4
10  2012Q3  361,834    2.3
11  2012Q4  375,427    2.5
12  2013Q1  355,385    2.3
13  2013Q2  373,097    2.9
14  2013Q3  379,887    3.5
15  2013Q4  392,451    3.9
16  2014Q1  373,560    3.8
17  2014Q2  388,567    3.4
18  2014Q3  393,425    3.1
19  2014Q4  407,377    2.6
20  2015Q1  394,262    2.5
21  2015Q2  411,337    2.0
22  2015Q3  420,850    3.3
23  2015Q4  431,573    3.4
24  2016Q1  413,322    2.8
25  2016Q2  434,543    3.6
26  2016Q3  439,402    2.8
27  2016Q4  453,513    2.7
28  2017Q1  433,537    3.1
29  2017Q2  453,891    2.8
30  2017Q3  473,661    2.9
31  2017Q4  474,609    2.8
32  2018Q1  449,511    2.8
33  2018Q2  471,630    2.9
34  2018Q3  484,492    2.1
35  2018Q4  487,865    2.9
36  2019Q1  454,700    1.7
37  2019Q2  477,979    2.0
38  2019Q3  486,374    2.0
39  2019Q4  494,911    2.3

In [53]:
# 분기 컬럼 생성

data['분기']=pd.to_datetime(data['created_date'].values, format='%Y-%m').astype('period[Q]')
data['분기'].head(5)

0    2011Q3
1    2010Q4
2    2010Q3
3    2010Q2
4    2010Q4
Name: 분기, dtype: period[Q-DEC]

In [54]:
# values값 확인

print(data_GDP['분기'].values)
print(data['분기'].values)

['2010Q1' '2010Q2' '2010Q3' '2010Q4' '2011Q1' '2011Q2' '2011Q3' '2011Q4'
 '2012Q1' '2012Q2' '2012Q3' '2012Q4' '2013Q1' '2013Q2' '2013Q3' '2013Q4'
 '2014Q1' '2014Q2' '2014Q3' '2014Q4' '2015Q1' '2015Q2' '2015Q3' '2015Q4'
 '2016Q1' '2016Q2' '2016Q3' '2016Q4' '2017Q1' '2017Q2' '2017Q3' '2017Q4'
 '2018Q1' '2018Q2' '2018Q3' '2018Q4' '2019Q1' '2019Q2' '2019Q3' '2019Q4']
[Period('2011Q3', 'Q-DEC') Period('2010Q4', 'Q-DEC')
 Period('2010Q3', 'Q-DEC') ... Period('2019Q1', 'Q-DEC')
 Period('2019Q1', 'Q-DEC') Period('2019Q1', 'Q-DEC')]

In [55]:
# 타입 맞춰주기

data_GDP['분기']=data_GDP['분기'].astype('period[Q]')

print(data_GDP.info())
print(data_GDP['분기'].values)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   분기      40 non-null     period[Q-DEC]
 1   명목GDP   40 non-null     object
 2   실질GDP   40 non-null     float64
dtypes: float64(1), object(1), period[Q-DEC](1)
memory usage: 1.1+ KB
None
[Period('2010Q1', 'Q-DEC') Period('2010Q2', 'Q-DEC')
 Period('2010Q3', 'Q-DEC') Period('2010Q4', 'Q-DEC')
 Period('2011Q1', 'Q-DEC') Period('2011Q2', 'Q-DEC')
 Period('2011Q3', 'Q-DEC') Period('2011Q4', 'Q-DEC')
 Period('2012Q1', 'Q-DEC') Period('2012Q2', 'Q-DEC')
 Period('2012Q3', 'Q-DEC') Period('2012Q4', 'Q-DEC')
 Period('2013Q1', 'Q-DEC') Period('2013Q2', 'Q-DEC')
 Period('2013Q3', 'Q-DEC') Period('2013Q4', 'Q-DEC')
 Period('2014Q1', 'Q-DEC') Period('2014Q2', 'Q-DEC')
 Period('2014Q3', 'Q-DEC') Period('2014Q4', 'Q-DEC')
 Period('2015Q1', 'Q-DEC') Period('2015Q2', 'Q-DEC')
 Period('2015Q3', 'Q-DEC') Period('2015Q4', 'Q-DEC')
 Period('2016Q1', 'Q-DEC') Period('2016Q2', 'Q-DEC')
 Period('2016Q3', 'Q-DEC') Period('2016Q4', 'Q-DEC')
 Period('2017Q1', 'Q-DEC') Period('2017Q2', 'Q-DEC')
 Period('2017Q3', 'Q-DEC') Period('2017Q4', 'Q-DEC')
 Period('2018Q1', 'Q-DEC') Period('2018Q2', 'Q-DEC')
 Period('2018Q3', 'Q-DEC') Period('2018Q4', 'Q-DEC')
 Period('2019Q1', 'Q-DEC') Period('2019Q2', 'Q-DEC')
 Period('2019Q3', 'Q-DEC') Period('2019Q4', 'Q-DEC')]

In [56]:
# 조인

result_GDP=pd.merge(data,data_GDP)

print(result_GDP.shape)
print(result_GDP.columns)

(409928, 8)
Index(['content', 'created_date', 'publisher', 'section', 'uid', '분기', '명목GDP',
       '실질GDP'],
      dtype='object')

In [57]:
# 확인

result_GDP[['created_date','분기','실질GDP']]

                      created_date      분기  실질GDP
0       2011-08-04T14:10:00.000000  2011Q3    3.1
1       2011-08-04T14:09:00.000000  2011Q3    3.1
2       2011-08-04T13:07:00.000000  2011Q3    3.1
3       2011-08-04T12:43:00.000000  2011Q3    3.1
4       2011-08-04T12:03:00.000000  2011Q3    3.1
...                            ...     ...    ...
409923  2019-03-29T07:29:00.000000  2019Q1    1.7
409924  2019-03-29T07:17:00.000000  2019Q1    1.7
409925  2019-03-29T03:39:00.000000  2019Q1    1.7
409926  2019-03-29T01:19:00.000000  2019Q1    1.7
409927  2019-03-29T00:05:00.000000  2019Q1    1.7

[409928 rows x 3 columns]

In [11]:
# 전체 파일 엑셀로 저장

#result_GDP.to_excel('C:\\Users\\LENOVO\\new_online_news.xlsx',index=False)

In [66]:
print(result_GDP.columns)

Index(['content', 'created_date', 'publisher', 'section', 'uid', '분기', '명목GDP',
       '실질GDP'],
      dtype='object')

In [70]:
result_GDP2=result_GDP[['content', 'created_date', 'publisher', 'section', 'uid', '분기', '명목GDP',
       '실질GDP']][result_GDP['created_date'].str.contains('2015','2016')]

In [71]:
print(result_GDP2['created_date'].max())
print(result_GDP2['created_date'].min())

2015-12-31T22:38:00.000000
2015-01-01T02:22:00.000000

In [6]:
data2=data[['created_date','분기','실질GDP']]

In [8]:
data2.sort_values(by=['분기'])

                      created_date      분기  실질GDP
50287   2010-06-29T18:33:00.000000  2010Q2    7.9
41316   2010-06-16T11:21:00.000000  2010Q2    7.9
41315   2010-06-16T11:24:00.000000  2010Q2    7.9
41314   2010-06-16T11:27:00.000000  2010Q2    7.9
41313   2010-06-16T11:32:00.000000  2010Q2    7.9
...                            ...     ...    ...
405293  2019-03-05T16:02:00.000000  2019Q1    1.7
405292  2019-02-11T17:58:00.000000  2019Q1    1.7
405291  2019-01-29T18:01:00.000000  2019Q1    1.7
405302  2019-03-05T15:29:00.000000  2019Q1    1.7
409927  2019-03-29T00:05:00.000000  2019Q1    1.7

[409928 rows x 3 columns]