In [4]:
import pandas as pd

# 뉴스 파일 로드

data=pd.read_excel('D:\\toy\\data\\Fix_online_news.xlsx')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409928 entries, 0 to 409927
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Index         409928 non-null  int64
 1   content       409928 non-null  object
 2   content_url   65511 non-null   object
 3   created_date  409928 non-null  object
 4   publisher     409928 non-null  object
 5   section       409928 non-null  object
 6   title         409928 non-null  object
dtypes: int64(1), object(6)
memory usage: 21.9+ MB

In [6]:
# 데이터 확인

print(data.columns)
data.head(3)

Index(['Index', 'content', 'content_url', 'created_date', 'publisher',
       'section', 'title'],
      dtype='object')

,Index,content,content_url,created_date,publisher,section,title
0,1,충북지역 기업 체감 경기가 바닥에서는 벗어났지만 여전히 기준치에는 한참 못미치고 있...,NaN,2019-03-31T23:11:00.000000,노컷뉴스,society,충북 기업경기 반전?...67로 기준치 한참 못미쳐
1,2,43개월 만에 최저치… 먹구름 장기화\n반도체 가격이 계속 떨어지는 가운데 반도체 ...,NaN,2019-03-31T21:27:00.000000,서울신문,economy,반도체 가동률 넉 달 연속 하락
2,3,2월 지수 43개월 만에 최저\n\n반도체 수출 감소에 이어 반도체 제조업 가동률도...,NaN,2019-03-31T20:36:00.000000,세계일보,economy,반도체 제조업 가동률 4개월 연속 하락

In [7]:
# 오래된 날짜와 최근 날짜 확인 

print(data['created_date'].max())
print(data['created_date'].min())

2019-03-31T23:11:00.000000
2010-04-01T01:12:00.000000

In [8]:
# GDP 파일 로드

data_GDP=pd.read_excel('D:\\toy\\data\\GDP_domestic_js.xls','Sheet2')

In [9]:
# 데이터 확인

print(data_GDP.columns)
data_GDP.head(3)

Index(['분기', '국내총생산(명목GDP)', '경제성장률(실질GDP성장률)'], dtype='object')

       분기 국내총생산(명목GDP)  경제성장률(실질GDP성장률)
0  2010Q1      307,738              7.3
1  2010Q2      329,481              7.9
2  2010Q3      334,834              5.8

In [18]:
# 컬럼명 변경

data_GDP.rename(columns={'분기':'분기','국내총생산(명목GDP)':'명목GDP','경제성장률(실질GDP성장률)':'실질GDP'},inplace=True)
print(data_GDP)

        분기    명목GDP  실질GDP
0   2010Q1  307,738    7.3
1   2010Q2  329,481    7.9
2   2010Q3  334,834    5.8
3   2010Q4  350,559    6.3
4   2011Q1  328,096    5.4
5   2011Q2  343,679    3.8
6   2011Q3  349,987    3.1
7   2011Q4  367,175    2.6
8   2012Q1  344,575    2.4
9   2012Q2  358,276    2.4
10  2012Q3  361,834    2.3
11  2012Q4  375,427    2.5
12  2013Q1  355,385    2.3
13  2013Q2  373,097    2.9
14  2013Q3  379,887    3.5
15  2013Q4  392,451    3.9
16  2014Q1  373,560    3.8
17  2014Q2  388,567    3.4
18  2014Q3  393,425    3.1
19  2014Q4  407,377    2.6
20  2015Q1  394,262    2.5
21  2015Q2  411,337    2.0
22  2015Q3  420,850    3.3
23  2015Q4  431,573    3.4
24  2016Q1  413,322    2.8
25  2016Q2  434,543    3.6
26  2016Q3  439,402    2.8
27  2016Q4  453,513    2.7
28  2017Q1  433,537    3.1
29  2017Q2  453,891    2.8
30  2017Q3  473,661    2.9
31  2017Q4  474,609    2.8
32  2018Q1  449,511    2.8
33  2018Q2  471,630    2.9
34  2018Q3  484,492    2.1
35  2018Q4  487,865    2.9
36  2019Q1  454,700    1.7
37  2019Q2  477,979    2.0
38  2019Q3  486,374    2.0
39  2019Q4  494,911    2.3

In [19]:
# 분기 컬럼 생성

data['분기']=pd.to_datetime(data['created_date'].values, format='%Y-%m').astype('period[Q]')
data['분기'].head(5)

0    2019Q1
1    2019Q1
2    2019Q1
3    2019Q1
4    2019Q1
Name: 분기, dtype: period[Q-DEC]

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409928 entries, 0 to 409927
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Index         409928 non-null  int64
 1   content       409928 non-null  object
 2   content_url   65511 non-null   object
 3   created_date  409928 non-null  object
 4   publisher     409928 non-null  object
 5   section       409928 non-null  object
 6   title         409928 non-null  object
 7   분기            409928 non-null  period[Q-DEC]
dtypes: int64(1), object(6), period[Q-DEC](1)
memory usage: 25.0+ MB

In [21]:
# values값 확인

print(data_GDP['분기'].values)
print(data['분기'].values)

[Period('2010Q1', 'Q-DEC') Period('2010Q2', 'Q-DEC')
 Period('2010Q3', 'Q-DEC') Period('2010Q4', 'Q-DEC')
 Period('2011Q1', 'Q-DEC') Period('2011Q2', 'Q-DEC')
 Period('2011Q3', 'Q-DEC') Period('2011Q4', 'Q-DEC')
 Period('2012Q1', 'Q-DEC') Period('2012Q2', 'Q-DEC')
 Period('2012Q3', 'Q-DEC') Period('2012Q4', 'Q-DEC')
 Period('2013Q1', 'Q-DEC') Period('2013Q2', 'Q-DEC')
 Period('2013Q3', 'Q-DEC') Period('2013Q4', 'Q-DEC')
 Period('2014Q1', 'Q-DEC') Period('2014Q2', 'Q-DEC')
 Period('2014Q3', 'Q-DEC') Period('2014Q4', 'Q-DEC')
 Period('2015Q1', 'Q-DEC') Period('2015Q2', 'Q-DEC')
 Period('2015Q3', 'Q-DEC') Period('2015Q4', 'Q-DEC')
 Period('2016Q1', 'Q-DEC') Period('2016Q2', 'Q-DEC')
 Period('2016Q3', 'Q-DEC') Period('2016Q4', 'Q-DEC')
 Period('2017Q1', 'Q-DEC') Period('2017Q2', 'Q-DEC')
 Period('2017Q3', 'Q-DEC') Period('2017Q4', 'Q-DEC')
 Period('2018Q1', 'Q-DEC') Period('2018Q2', 'Q-DEC')
 Period('2018Q3', 'Q-DEC') Period('2018Q4', 'Q-DEC')
 Period('2019Q1', 'Q-DEC') Period('2019Q2', 'Q-DEC')
 Period('2019Q3', 'Q-DEC') Period('2019Q4', 'Q-DEC')]
[Period('2019Q1', 'Q-DEC') Period('2019Q1', 'Q-DEC')
 Period('2019Q1', 'Q-DEC') ... Period('2010Q2', 'Q-DEC')
 Period('2010Q2', 'Q-DEC') Period('2010Q2', 'Q-DEC')]

In [22]:
# 타입 맞춰주기

data_GDP['분기']=data_GDP['분기'].astype('period[Q]')

print(data_GDP.info())
print(data_GDP['분기'].values)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   분기      40 non-null     period[Q-DEC]
 1   명목GDP   40 non-null     object
 2   실질GDP   40 non-null     float64
dtypes: float64(1), object(1), period[Q-DEC](1)
memory usage: 1.1+ KB
None
[Period('2010Q1', 'Q-DEC') Period('2010Q2', 'Q-DEC')
 Period('2010Q3', 'Q-DEC') Period('2010Q4', 'Q-DEC')
 Period('2011Q1', 'Q-DEC') Period('2011Q2', 'Q-DEC')
 Period('2011Q3', 'Q-DEC') Period('2011Q4', 'Q-DEC')
 Period('2012Q1', 'Q-DEC') Period('2012Q2', 'Q-DEC')
 Period('2012Q3', 'Q-DEC') Period('2012Q4', 'Q-DEC')
 Period('2013Q1', 'Q-DEC') Period('2013Q2', 'Q-DEC')
 Period('2013Q3', 'Q-DEC') Period('2013Q4', 'Q-DEC')
 Period('2014Q1', 'Q-DEC') Period('2014Q2', 'Q-DEC')
 Period('2014Q3', 'Q-DEC') Period('2014Q4', 'Q-DEC')
 Period('2015Q1', 'Q-DEC') Period('2015Q2', 'Q-DEC')
 Period('2015Q3', 'Q-DEC') Period('2015Q4', 'Q-DEC')
 Period('2016Q1', 'Q-DEC') Period('2016Q2', 'Q-DEC')
 Period('2016Q3', 'Q-DEC') Period('2016Q4', 'Q-DEC')
 Period('2017Q1', 'Q-DEC') Period('2017Q2', 'Q-DEC')
 Period('2017Q3', 'Q-DEC') Period('2017Q4', 'Q-DEC')
 Period('2018Q1', 'Q-DEC') Period('2018Q2', 'Q-DEC')
 Period('2018Q3', 'Q-DEC') Period('2018Q4', 'Q-DEC')
 Period('2019Q1', 'Q-DEC') Period('2019Q2', 'Q-DEC')
 Period('2019Q3', 'Q-DEC') Period('2019Q4', 'Q-DEC')]

In [23]:
# 조인

result_GDP=pd.merge(data,data_GDP)

print(result_GDP.shape)
print(result_GDP.columns)

(409928, 10)
Index(['Index', 'content', 'content_url', 'created_date', 'publisher',
       'section', 'title', '분기', '명목GDP', '실질GDP'],
      dtype='object')

In [24]:
result_GDP.columns

Index(['Index', 'content', 'content_url', 'created_date', 'publisher',
       'section', 'title', '분기', '명목GDP', '실질GDP'],
      dtype='object')

In [25]:
# 확인

result_GDP[['created_date','분기','실질GDP']]

                      created_date      분기  실질GDP
0       2019-03-31T23:11:00.000000  2019Q1    1.7
1       2019-03-31T21:27:00.000000  2019Q1    1.7
2       2019-03-31T20:36:00.000000  2019Q1    1.7
3       2019-03-31T20:30:00.000000  2019Q1    1.7
4       2019-03-31T19:29:00.000000  2019Q1    1.7
...                            ...     ...    ...
409923  2010-04-01T03:32:00.000000  2010Q2    7.9
409924  2010-04-01T03:32:00.000000  2010Q2    7.9
409925  2010-04-01T03:18:00.000000  2010Q2    7.9
409926  2010-04-01T02:36:00.000000  2010Q2    7.9
409927  2010-04-01T01:12:00.000000  2010Q2    7.9

[409928 rows x 3 columns]

In [27]:
# 명목 GDP 삭제

del result_GDP['명목GDP']

In [30]:
del result_GDP['content_url']

In [26]:
# 전체 파일 엑셀로 저장

#result_GDP.to_excel('D:\\toy\\data\\\\online_news_f.xlsx',index=False)

In [31]:
result_GDP.columns

Index(['Index', 'content', 'created_date', 'publisher', 'section', 'title',
       '분기', '실질GDP'],
      dtype='object')

In [32]:
# 2015~2016년의 데이터만 추출

test_data=result_GDP[(result_GDP['created_date']>='2015-01-01') & (result_GDP['created_date']<'2017-01-01')]

test_data.head()

,Index,content,created_date,publisher,section,title,분기,실질GDP
112548,112549,"퇴진운동 2라운드, “적폐 청산까지 이뤄내야”\n\n김한주 기자\n31일, 10차에...",2016-12-31T23:45:00.000000,참세상,society,"천만 촛불 돌파… “세상, 탄핵으로 해결 될까요”",2016Q4,2.7
112549,112550,엔비디아가 2016년 선보인 파스칼 아키텍처 기반 고성능 그래픽카드 GTX 1080...,2016-12-31T22:29:00.000000,스포츠서울,tech,[아듀 2016] 2016 PC 부품 이슈 총정리 ②-고성능 그래팍카드 출시와 SS...,2016Q4,2.7
112550,112551,중국 외교부에서 사드(THAAD·고고도 미사일 방어체계) 문제를 담당해 온 천하이(...,2016-12-31T20:28:00.000000,조선일보,politics,[TV조선]中 천하이의 무례한 방한…'외교 장난'에 대응책 고심,2016Q4,2.7
112551,112552,얼마 전 중국의 부국장급 외교관이 우리나라 대기업 고위 관계자와 유력 정치인들을 만...,2016-12-31T19:43:00.000000,TV조선,world,中 천하이의 무례한 방한…'외교 장난'에 대응책 고심,2016Q4,2.7
112552,112553,먼저 새밑에도 분주한 수출현장으로 가봅니다. 여>모두가 한 해를 정리하며 쉬는 동안...,2016-12-31T19:09:00.000000,TV조선,economy,15분 마다 이륙…터미널은 비지땀,2016Q4,2.7

In [35]:
# 확인

print(test_data['created_date'].max())
print(test_data['created_date'].min())

2016-12-31T23:45:00.000000
2015-01-01T02:22:00.000000

In [38]:
test_data.columns

Index(['Index', 'content', 'created_date', 'publisher', 'section', 'title',
       '분기', '실질GDP'],
      dtype='object')

In [37]:
test_data.head()

,Index,content,created_date,publisher,section,title,분기,실질GDP
112548,112549,"퇴진운동 2라운드, “적폐 청산까지 이뤄내야”\n\n김한주 기자\n31일, 10차에...",2016-12-31T23:45:00.000000,참세상,society,"천만 촛불 돌파… “세상, 탄핵으로 해결 될까요”",2016Q4,2.7
112549,112550,엔비디아가 2016년 선보인 파스칼 아키텍처 기반 고성능 그래픽카드 GTX 1080...,2016-12-31T22:29:00.000000,스포츠서울,tech,[아듀 2016] 2016 PC 부품 이슈 총정리 ②-고성능 그래팍카드 출시와 SS...,2016Q4,2.7
112550,112551,중국 외교부에서 사드(THAAD·고고도 미사일 방어체계) 문제를 담당해 온 천하이(...,2016-12-31T20:28:00.000000,조선일보,politics,[TV조선]中 천하이의 무례한 방한…'외교 장난'에 대응책 고심,2016Q4,2.7
112551,112552,얼마 전 중국의 부국장급 외교관이 우리나라 대기업 고위 관계자와 유력 정치인들을 만...,2016-12-31T19:43:00.000000,TV조선,world,中 천하이의 무례한 방한…'외교 장난'에 대응책 고심,2016Q4,2.7
112552,112553,먼저 새밑에도 분주한 수출현장으로 가봅니다. 여>모두가 한 해를 정리하며 쉬는 동안...,2016-12-31T19:09:00.000000,TV조선,economy,15분 마다 이륙…터미널은 비지땀,2016Q4,2.7

In [36]:
# 부분 파일 엑셀로 저장

#test_data.to_excel('D:\\toy\\data\\online_news.xlsx',index=False)